@import "modal/content.css";

/* header */
#header .container{
    width: 100%;
}

#header .scroll{
    background-color: #ffffff;
    width:100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 10;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

#flex_header {
    width:80%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
}
#header .headleft {
    flex: 3 1 0;
}

#header .headcenter {
    text-align: center;
    flex: 6 1 0; 
    /* grow, shrink, basis */
}

#header .headcenter>ul{
    display: inline;
}

#header .headcenter>ul>li{
    margin: 0 5px;
    line-height: 2;
    display: inline-block;
    cursor: pointer;
}

#header .headcenter>ul>li>span{
    padding: 10px 0;
    position: relative;
}

.tab_menu::before {
    background-color: black;
    position: absolute;
    height: 2px;
    bottom: 0px;
    margin-left: -9px;
    left: 50%;
    content: "";
    width: 18px;
    transform: scaleX(0);
    transition: 0.2s -ms-transform cubic-bezier(0, 0, 0.1, 1),0.2s -webkit-transform cubic-bezier(0, 0, 0.1, 1),0.2s transform cubic-bezier(0, 0, 0.1, 1);
}

/* 탭 기능 */
.tab_selected:before{
    transform: scaleX(1);
}


#header .headright {
    flex: 3 1 0;
    
}
#header .headright>ul{
    display: flex;
    justify-content: flex-end;
}

#header .headright>ul>li{
    margin: 0 5px;
}

#header .headright>ul>li>a{
    font-weight: bold;
    padding: 5px;
    border-radius: 22px;
}

#header .headright>ul>li>a:hover{
    text-decoration: none;
    background-color: #F7F7F7;
}

#header .headright>ul>li.login{
    position: relative;
    overflow: visible;
}

#user_nav_menu{
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #DDDDDD;
    width: 200px;
    padding:20px;
    border-radius: 20px;
    z-index: 100;
    box-shadow: 3px -3px 5px #F7F7F7;
}


#header .headright>ul>li>button{
    padding: 5px;
    border: 1px solid #DDDDDD;
    border-radius: 20px;
    transform: translate(0, -25%);
    background-color: #ffffff;
}

#header .headright>ul>li>button:hover{
    box-shadow: 0px 5px 5px #DDDDDD;
}

#header .headright>ul>li>button .bar{
    transform: translate(0, -25%);
    width: 25px;
    display: inline-block;
}

#header .headright>ul>li>button .icon{
    width: 25px;
    display: inline-block;
}
