@import "modal/content.css";

/* header */
#flex_header {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}
#header .headleft {
    /* float: left;
    position: absolute;
    top: 0px;
    left: 0px; */
    /* flex-grow: 3; */
    flex: 3 1 0;
}

#header .headcenter {
    text-align: center;
    /* flex-grow: 6; */
    flex: 6 1 0; 
    /* grow, shrink, ba... */
}

#header .headcenter>ul{
    display: inline;
}

#header .headcenter>ul>li{
    margin: 0 5px;
    line-height: 2;
    display: inline-block;
    cursor: pointer;
}

#header .headright {
    /* position: absolute;
    top: 0px;
    right: 0px; */
    /* flex-grow: 3; */
    flex: 3 1 0;
    
}
#header .headright>ul {
    display: flex;
    justify-content: flex-end;
}

#header .headright>ul>li{
    margin: 0 5px;
    /* float: left; */
}

#header .headright>ul>li>a{
    font-weight: bold;
    padding: 5px;
    border-radius: 22px;
}

#header .headright>ul>li>a:hover{
    text-decoration: none;
    background-color: #F7F7F7;
}

#header .headright>ul>li.login{
    position: relative;
    overflow: visible;
}

#user_nav_menu{
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #DDDDDD;
    width: 200px;
    padding:20px;
    border-radius: 20px;
    z-index: 100;
    box-shadow: 3px -3px 5px #F7F7F7;
}


#header .headright>ul>li>button{
    padding: 5px;
    border: 1px solid #DDDDDD;
    border-radius: 20px;
    transform: translate(0, -25%);
    background-color: #ffffff;
}

#header .headright>ul>li>button:hover{
    /* background-color: #F7F7F7; */
    box-shadow: 0px 5px 5px #DDDDDD;
}

#header .headright>ul>li>button .bar{
    transform: translate(0, -25%);
    width: 25px;
    display: inline-block;
}

#header .headright>ul>li>button .icon{
    width: 25px;
    display: inline-block;
}