extends layout/layout.pug

block main
    div.container
        div(style="border-radius: 20px; width:100%; text-align:center; overflow:hidden;position:relative;")
            picture
                <source srcset="https://a0.muscache.com/im/pictures/16df1348-322f-4482-8694-3ccbdbf078b1.jpg?im_q=medq&amp;im_w=1440 1x, https://a0.muscache.com/im/pictures/16df1348-322f-4482-8694-3ccbdbf078b1.jpg?im_q=medq&amp;im_w=1920 2x" media="(min-width: 1440px)">
                <source srcset="https://a0.muscache.com/im/pictures/16df1348-322f-4482-8694-3ccbdbf078b1.jpg?im_q=medq&amp;im_w=1200 1x, https://a0.muscache.com/im/pictures/16df1348-322f-4482-8694-3ccbdbf078b1.jpg?im_q=medq&amp;im_w=1920 2x" media="(min-width: 1128px)">
                <source srcset="https://a0.muscache.com/im/pictures/e25f5be3-a60e-43ef-9f8f-dde79f4e98ca.jpg?im_q=medq&amp;im_w=720 1x, https://a0.muscache.com/im/pictures/e25f5be3-a60e-43ef-9f8f-dde79f4e98ca.jpg?im_q=medq&amp;im_w=1440 2x" media="(min-width: 744px)">
                <source srcset="https://a0.muscache.com/im/pictures/d0b48266-c89f-4b30-a7f3-d498a1ee3965.jpg?im_q=medq&amp;im_w=240 1x, https://a0.muscache.com/im/pictures/d0b48266-c89f-4b30-a7f3-d498a1ee3965.jpg?im_q=medq&amp;im_w=240 2x">
                <img class="_dae4t6" style="object-fit:cover;vertical-align:bottom" aria-hidden="true" alt="" src="https://a0.muscache.com/im/pictures/d0b48266-c89f-4b30-a7f3-d498a1ee3965.jpg?aki_policy=large">
            div(style="position:absolute; top:0; left:0;max-width: 400px;padding-bottom: 10%;padding-left: 5%;padding-top: 48px; text-align:left;")
                div(style="font-size: 32px;line-height: 36px;font-weight: 800;white-space: pre-line;")
                    <div style="color:#222222; width: 55%;">이제, 여행은 가까운곳에서.</div>
                div(style="font-weight: 400; white-space: pre-line;font-size: 18px; line-height: 24px;")
                    <span style="color:#222222">가까운 곳의 숨겨진 아름다움을 발견하는 색다른 휴가를&nbsp;즐겨보세요.</span>
                div(style="color:#222222; font-size: 18px;line-height: 24px;margin-top: 16px;")
                    span 가까운 여행지 둘러보기
                    span
                        <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" style="display:inline-block;fill:none;height:12px;width:12px;stroke:currentColor;stroke-width:5.333333333333333;overflow:visible" aria-hidden="true" role="presentation" focusable="false"><g fill="none"><path d="m12 4 11.2928932 11.2928932c.3905243.3905243.3905243 1.0236893 0 1.4142136l-11.2928932 11.2928932"></path></g></svg>
    div.container
        ul(style="justify-content: space-between; display: flex;list-style: none;overflow: auto hidden;scroll-snap-type: x mandatory;")
            li(aria-hidden="false" style="width:33%; margin-bottom:20px; box-shadow:0 5px 5px rgba(0, 0, 0, 0.2); border-radius: 20px;overflow:hidden;")
                <picture>
                    <source srcset="https://a0.muscache.com/im/pictures/15159c9c-9cf1-400e-b809-4e13f286fa38.jpg?im_w=320 1x, https://a0.muscache.com/im/pictures/15159c9c-9cf1-400e-b809-4e13f286fa38.jpg?im_w=720 2x" media="(max-width: 743px)">
                    <source srcset="https://a0.muscache.com/im/pictures/15159c9c-9cf1-400e-b809-4e13f286fa38.jpg?im_w=240 1x, https://a0.muscache.com/im/pictures/15159c9c-9cf1-400e-b809-4e13f286fa38.jpg?im_w=480 2x" media="(min-width: 743.1px) and (max-width: 1127px)">
                    <source srcset="https://a0.muscache.com/im/pictures/15159c9c-9cf1-400e-b809-4e13f286fa38.jpg?im_w=320 1x, https://a0.muscache.com/im/pictures/15159c9c-9cf1-400e-b809-4e13f286fa38.jpg?im_w=720 2x" media="(min-width: 1127.1px) and (max-width: 1439px)">
                    <source srcset="https://a0.muscache.com/im/pictures/15159c9c-9cf1-400e-b809-4e13f286fa38.jpg?im_w=480 1x, https://a0.muscache.com/im/pictures/15159c9c-9cf1-400e-b809-4e13f286fa38.jpg?im_w=1200 2x" media="(min-width: 1439.1px)">
                    <img class="_1cb9q3xq" aria-hidden="true" alt="" decoding="async" src="https://a0.muscache.com/im/pictures/15159c9c-9cf1-400e-b809-4e13f286fa38.jpg?im_w=720" data-original-uri="https://a0.muscache.com/pictures/15159c9c-9cf1-400e-b809-4e13f286fa38.jpg" style="object-fit: cover;">
                </picture>
                div(style="width:90%;margin:10px auto;")
                    div(style="font-size: 18px;line-height: 22px;font-weight: 600;")="독특한 공간"
                    div(style="font-size: 14px;line-height: 18px;color: rgb(113, 113, 113);font-weight: 400;")="단순한 숙소 이상의 특별함이 담긴 공간"

            li(aria-hidden="false" style="width:33%; margin-bottom:20px; box-shadow:0 5px 5px rgba(0, 0, 0, 0.2); border-radius: 20px;overflow:hidden;")
                <picture>
                    <source srcset="https://a0.muscache.com/im/pictures/eb9c7c6a-ee33-414a-b1ba-14e8860d59b3.jpg?im_w=320 1x, https://a0.muscache.com/im/pictures/eb9c7c6a-ee33-414a-b1ba-14e8860d59b3.jpg?im_w=720 2x" media="(max-width: 743px)">
                    <source srcset="https://a0.muscache.com/im/pictures/eb9c7c6a-ee33-414a-b1ba-14e8860d59b3.jpg?im_w=240 1x, https://a0.muscache.com/im/pictures/eb9c7c6a-ee33-414a-b1ba-14e8860d59b3.jpg?im_w=480 2x" media="(min-width: 743.1px) and (max-width: 1127px)">
                    <source srcset="https://a0.muscache.com/im/pictures/eb9c7c6a-ee33-414a-b1ba-14e8860d59b3.jpg?im_w=320 1x, https://a0.muscache.com/im/pictures/eb9c7c6a-ee33-414a-b1ba-14e8860d59b3.jpg?im_w=720 2x" media="(min-width: 1127.1px) and (max-width: 1439px)">
                    <source srcset="https://a0.muscache.com/im/pictures/eb9c7c6a-ee33-414a-b1ba-14e8860d59b3.jpg?im_w=480 1x, https://a0.muscache.com/im/pictures/eb9c7c6a-ee33-414a-b1ba-14e8860d59b3.jpg?im_w=1200 2x" media="(min-width: 1439.1px)">
                    <img class="_1cb9q3xq" aria-hidden="true" alt="" decoding="async" src="https://a0.muscache.com/im/pictures/eb9c7c6a-ee33-414a-b1ba-14e8860d59b3.jpg?im_w=720" data-original-uri="https://a0.muscache.com/pictures/eb9c7c6a-ee33-414a-b1ba-14e8860d59b3.jpg" style="object-fit: cover;">
                </picture>
                div(style="width:90%;margin:10px auto;")
                    div(style="font-size: 18px;line-height: 22px;font-weight: 600;")="온라인 체험"
                    div(style="font-size: 14px;line-height: 18px;color: rgb(113, 113, 113);font-weight: 400;")="세계 각지의 호스트가 진행하고 모두 함께 즐기는 독특한 액티비티"
            li(aria-hidden="false" style="width:33%; margin-bottom:20px; box-shadow:0 5px 5px rgba(0, 0, 0, 0.2); border-radius: 20px;overflow:hidden;")
                <picture>
                    <source srcset="https://a0.muscache.com/im/pictures/fdb46962-10c1-45fc-a228-d0b055411448.jpg?im_w=320 1x, https://a0.muscache.com/im/pictures/fdb46962-10c1-45fc-a228-d0b055411448.jpg?im_w=720 2x" media="(max-width: 743px)">
                    <source srcset="https://a0.muscache.com/im/pictures/fdb46962-10c1-45fc-a228-d0b055411448.jpg?im_w=240 1x, https://a0.muscache.com/im/pictures/fdb46962-10c1-45fc-a228-d0b055411448.jpg?im_w=480 2x" media="(min-width: 743.1px) and (max-width: 1127px)">
                    <source srcset="https://a0.muscache.com/im/pictures/fdb46962-10c1-45fc-a228-d0b055411448.jpg?im_w=320 1x, https://a0.muscache.com/im/pictures/fdb46962-10c1-45fc-a228-d0b055411448.jpg?im_w=720 2x" media="(min-width: 1127.1px) and (max-width: 1439px)">
                    <source srcset="https://a0.muscache.com/im/pictures/fdb46962-10c1-45fc-a228-d0b055411448.jpg?im_w=480 1x, https://a0.muscache.com/im/pictures/fdb46962-10c1-45fc-a228-d0b055411448.jpg?im_w=1200 2x" media="(min-width: 1439.1px)">
                    <img class="_1cb9q3xq" aria-hidden="true" alt="" decoding="async" src="https://a0.muscache.com/im/pictures/fdb46962-10c1-45fc-a228-d0b055411448.jpg?im_w=720" data-original-uri="https://a0.muscache.com/pictures/fdb46962-10c1-45fc-a228-d0b055411448.jpg" style="object-fit: cover;">
                </picture>
                div(style="width:90%;margin:10px auto;")
                    div(style="font-size: 18px;line-height: 22px;font-weight: 600;")="집 전체"
                    div(style="font-size: 14px;line-height: 18px;color: rgb(113, 113, 113);font-weight: 400;")="일행만을 위한 편안한 공간에서 친구 및 가족과 오붓한 시간을 보내세요."
