@import "sub/header.css";
@import "sub/nav.css";

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: '';line-height: 0;}
.clearfix:after {clear: both;}

#wrap {
    margin: 40px auto;
    width: 80%;
}

.container{
    position: relative;
}
