@import "sub/header.css";
@import "sub/search.css";
@import "sub/footer.css";

body{
    color: #484848;
}

a{
    text-decoration: none;
    color: #484848;
}

a:hover{
    text-decoration: underline;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: '';line-height: 0;}
.clearfix:after {clear: both;}

#wrap {
    margin: 50px 0 0 0;
    width: 100%;
}

.container{
    position: relative;
    margin: 0 auto;
    width: 80%;
}
