extends ../layout/layout.pug

block main
    div.container
        div(style="width: 40%; margin: 0 auto;")
            h2= "로그인"
            form(action="/user/login", method="post")
                ul
                    li
                        input#email(type="email", name="email", placeholder="이메일" required)
                    li 
                        input#pwd(type="password", name="pwd", placeholder="패스워드" required)
                    li
                        button(type="submit")= "로그인"
                        button(type="button", onclick="location.href='/user/register'")= "회원가입"
                    li
                    li
