extends ../layout/layout.pug

block main
    div.container
        div(style="width: 40%; margin: 0 auto;")
            h2= "회원가입"
            form(action="/user/register", method="post")
                ul
                    li
                        input#email(type="email", name="email", placeholder="이메일" required)
                    li
                        input#pwd(type="password", name="pwd", placeholder="패스워드" required)
                    li
                        input#pwdCheck(type="password", name="pwdCheck", placeholder="패스워드 확인" required)
                    li
                        input#name(type="text", name="name", placeholder="이름" required)
                    li
                        input#birth(type="text", name="birth", placeholder="생년월일:2000.01.01" required)
                    li
                        button(type="submit")= "회원가입"
                    li
                    li