extends ../layout/layout.pug

block main
    div.container
        div(style="width: 40%; margin: 0 auto;")
            h2= "회원 탈퇴"
            form(action="/user/withdrawal", method="post")
                ul
                    li
                        h4= "회원 탈퇴를 하시면 관련한 회원 정보가 모두 삭제되어 복구 불가능합니다."
                        input#pwd(type="password", name="pwd", placeholder="패스워드" required)

                    li
                        button(type="submit")= "탈퇴"
                        button(type="button" onclick="history.back();")= "취소"
                    li
                    li