#main .container{
    margin: 40px auto;
    display: flex;
}

#main .left_container {
    flex: 4 1 0;
}

#main .search_info ul{
    display: flex;
}

#main .search_info ul li{
    font-size: 14px;
    margin-right: 10px;
}

#main .search_title h2{
    margin: 0;
}

#main .search_tag{
    margin: 40px 0;
}

#main .search_tag ul{
    display: flex;
}

#main .search_tag ul li{
    margin-right: 10px;
}

#main .search_tag ul li button{
    all:unset;
    font-size: 12px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 20px;
}

#main .search_tag ul li button:hover{
    cursor: pointer;
}

#main .rooms_row {
    display: flex;

    padding: 20px 0;
    border-bottom: 1px solid rgb(235, 235, 235);
}

#main .rooms_img{
    width:300px; 
    height:200px; 
    text-align:center; 
    overflow:hidden; 
    border-radius:20px;
}

#main .rooms_img img{
    width: 300px;
    height: 200px;
    object-fit: cover;
}

#main .rooms_info{
    margin: 0 20px;
    width:60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#main .room_title .title{
    font-size: 18px;
    font-weight: bold;
}

#main .rooms_info .desc{
    font-size: 14px;
    color: rgb(113, 113, 113);
}

#main .rooms_info .price{
    align-self: flex-end;
    font-weight: bold;
    font-size: 18px;
}

#main .pages {
    width: 40%;
    margin: 20px auto;
}

#main .pages ul{
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 20px;
}

#main .pages a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#main .pages .curPage{
    background-color: rgb(114, 114, 114);
    color: white;
}



#main .container .right_container{
    flex: 3 1 0;
    margin-left: 20px;
    position: relative;
}

#main .container .right_container .googlemap{
    position: sticky;
    top: 0;
    right: 0;
}