#main .container{
    margin: 40px auto;
    display: flex;
    flex-direction: row;
}

#main .left_container {
    flex: 2 1 0;
}

#main .search_info ul{
    display: flex;
    flex-direction: row;
}

#main .search_info ul li{
    font-size: 14px;
    margin-right: 10px;
}

#main .search_title h2{
    margin: 0;
}

#main .search_tag{
    margin: 40px 0;
}

#main .search_tag ul{
    display: flex;
    flex-direction: row;
}

#main .search_tag ul li{
    margin-right: 10px;
}

#main .search_tag ul li button{
    all:unset;
    font-size: 12px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 20px;
}

#main .search_tag ul li button:hover{
    cursor: pointer;
}

#main .rooms_row {
    display: flex;
    flex-direction: row;
}
#main .rooms_img{
    width:300px; 
    height:200px; 
    text-align:center; 
    overflow:hidden; 
    border-radius:20px;
}

#main .rooms_img img{
    width: 300px;
    height: 200px;
    object-fit: cover;
}

#main .rooms_info{
    margin: 0 20px;
    width:60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#main .room_title .title{
    font-size: 18px;
    font-weight: bold;
}

#main .rooms_info .desc{
    font-size: 14px;
    color: rgb(113, 113, 113);
}

#main .rooms_info .price{
    align-self: flex-end;
    font-weight: bold;
    font-size: 18px;
}


#main .container .right_container{
    flex: 1 1 0;
    position: relative;
}

#main .container .right_container .googlemap{
    position: sticky;
    top: 0;
    right: 0;
}