.calendar_box .calendar .calendarContainer{
    width: 100%;
}

.calendar_box .calendar .calendarContainer h2{
    text-align: center;
    font-size: 16px;
}

.calendar_box .calendar .calendarContainer table{
    margin: 20px auto;
    text-align: center;
    width: 390px;
    border-spacing: 0px;
}

.calendar_box .calendar .calendarContainer table th{
    font-size: 12px;
}

.calendar_box .calendar .calendarContainer table td{
    font-size: 14px;
    width:50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0);
}

.calendar_box .calendar .calendarContainer table td.available:hover{
    border: 1px solid #777777;
}

.calendar_box .calendar .calendarContainer table td.checked{
    background-color: rgb(68, 68, 68);
    color:#ffffff;
}
.calendar_box .calendar .calendarContainer table td.between{
    background-color: rgb(245, 245, 245);
    border-radius: 0;
    color:#000000;
}

.calendar_box .calendar .calendarContainer table td.notAvailable{
    color:#bbbbbb;
}